[submodule "third-party/deepagents"]
	path = third-party/deepagents
	url = https://github.com/langchain-ai/deepagents.git
[submodule "third-party/langgraph"]
	path = third-party/langgraph
	url = https://github.com/langchain-ai/langgraph.git
[submodule "third-party/langchain"]
	path = third-party/langchain
	url = https://github.com/langchain-ai/langchain.git
[submodule "third-party/mem0"]
	path = third-party/mem0
	url = https://github.com/mem0ai/mem0.git
